<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean name="/singleMovieSentiment.htm" class="com.gree.lsa.web.controller.SingleMovieSentimentController" >
		<property name="sentimentDelegate">
			<ref bean="sentimentDelegate"/>
		</property>	
	</bean>

	<bean id="sentimentServices" class="com.gree.lsa.services.SentimentServices"/>

	<bean id="sentimentDelegate" class="com.gree.lsa.web.delegate.SentimentDelegate">
		<property name="sentimentServices">
			<ref bean="sentimentServices" />
		</property>
	</bean>

	<bean id="sentimentController" class="com.gree.lsa.web.controller.SingleMovieSentimentController">
		<property name="sentimentDelegate">
			<ref bean="sentimentDelegate" />
		</property>
	</bean>

</beans>